<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>
<body>
    <header class="sticky-header">
        <div class="header-container">
            <h1>Business Content STW AI</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="sticky-footer">
        <div class="footer-container">
            <p>&copy; 2024 Business Content Generator App. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>