<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STW Business AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header class="sticky-header">
        <div class="header-container">
            <h1>Business Content STW AI</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer" id="about">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='images/stwlogo.png') }}" alt="STW Logo" class="footer-logo-img">
                <p>Welcome to the epicenter of innovation where STW AI Content Creator, a subsidiary of STW Automation Pvt Ltd, was born from a vision to revolutionize the way professionals interact with AI for content creation.</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fas fa-globe"></i></a>
                </div>
            </div>
            <div class="footer-nav">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Contact Us</h3>
                <p><i class="fas fa-envelope"></i> connect@stw-services.com</p>
                <p><i class="fas fa-phone"></i> (+91) 9112-041-412 / +91(0)522 423 4782</p>
                <p><i class="fas fa-map-marker-alt"></i> 205, Konark Icon, Near Seasons Mall, Mundhwa - Kharadi Rd, Hadapsar, Pune, Maharashtra</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2022 STW Services LLP. All rights reserved. <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></p>
        </div>
    </footer>
    
</body>
</html>
